<section class="p-2 xl:p-4 bg-gray-100 flex flex-col items-center justify-center min-w-full">
    <ul class=" mb-4 grid flex-wrap items-center justify-center gap-2 xl:gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
        {{collection:projects limit="4"}}
            <li class="w-full pb-2 rounded-sm shadow-lg bg-white relative flex-flex col hover:shadow-xl self-stretch mb-4">
                {{images limit="1"}}
                    <div class="overflow-hidden">
                        <img src="{{ url }}" alt="{{alt}}" class="hover:scale-105 duration-300">
                    </div>
                {{/images}}
                <div class="p-2">
                    <h3 class="text-2xl text-gray-800">{{title}}</h3>
                    <p class="text-gray-500 mb-12">{{project_description}}</p>
             
                    {{if images | count > 1}}
                        <a href="{{url}}" class="bg-yellow-500 hover:bg-yellow-600 duration-200 px-4 py-2 font-light uppercase text-white tracking-wide inline-flex items-center justify-center absolute bottom-2">See more images &nbsp;
                            <ion-icon name="arrow-forward-outline" ></ion-icon>
                        </a>
                    {{/if}}
                </div>
            </li>
        {{/collection:projects}}
    </ul>
    <a href="/projects" class="px-4 py-2 font-light uppercase border border-gray-600 hover:bg-gray-200 duration-150 tracking-wide inline-flex items-center justify-center">See all Projects &nbsp;
        <ion-icon name="arrow-forward-outline" ></ion-icon>
    </a>
</section>


